.modal-overlay {
    position:fixed;
    top:0;
    left:0;
    width: 100%;
    height: 100vh;
    background: rgba(13, 15, 16, 0.15);
    backdrop-filter: blur(10px);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
    overflow: hidden;
}
.modal-content {
    background-color:#FFFFFF;
    border-radius:10px;
    padding: 40px 50px 60px 50px;
    width:813px;
    height:666px;
}
.close-btn {
    background-image: url('../assets/Cancel.png');
    background-repeat: no-repeat;
    width:40px;
    height:40px;
    border:none;
    background-color: white;
    float:right;
}
.clear {
    clear:both;
}
.modal-title {
    text-align: center;
    font-family: FiraGO;
    font-weight: 500;
    font-size: 32px;
    line-height: 100%;
    letter-spacing: 0%;
    margin-top:37px;
}
.modal-content form {
    margin-top:45px;
}
.namesContCont {
    display:flex;
    justify-content: space-between;
}
.namesContainer {
    display: flex;
    flex-direction: column;
}
.namesContainer label {
    font-family: FiraGO;
    font-weight: 500;
    font-size: 14px;
    line-height: 100%;
    letter-spacing: 0%;
}
.namesContainer input{
    color:black;
    width: 354px;
    height: 22px;
    border-radius: 6px;
    border-width: 1px;
    padding: 10px;
    border:1px solid rgba(206, 212, 218, 1);
    margin-top:3px;
}
.avatarContainer {
    display: flex;
    flex-direction: column;
    margin-top:45px;
}
.avatarContainer label {
    font-family: FiraGO;
    font-weight: 500;
    font-size: 14px;
    line-height: 100%;
    letter-spacing: 0%;
    cursor: pointer;
}
.avatarBox {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 120px;
    border: 1px dashed rgba(206, 212, 218, 1);
    border-radius: 10px;
    position: relative;
    overflow: hidden;
    margin-top:8px;
}

.avatarImage {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    object-fit: cover;
}

.deleteAvatar {
    position: absolute;
    background: white;
    border: none;
    cursor: pointer;
    font-size: 14px;
    width: 24px;
    height: 24px;
    top: 83px;
    left: 430px;
    border-radius: 30px;
    border:0.3px solid #CED4DA;
    background-image: url('../assets/trash-2.png');
    background-position: center;
    background-repeat: no-repeat;
}

.uploadText {
    color: gray;
    font-size: 14px;
}
.departmentsContainer {
    display: flex;
    flex-direction: column;
    margin-top:45px;
    position: relative;
    width: 100%;
}
.departmentsContainer label {
    font-family: FiraGO;
    font-weight: 500;
    font-size: 14px;
    line-height: 100%;
    letter-spacing: 0%;
}
.departmentsContainer select {
    width: 374px;
    padding: 12px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: white;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    cursor: pointer;
    position: relative;
    padding-right: 40px;
    margin-top:3px;
    font-family: FiraGO;
    font-weight: 500;
    font-size: 14px;
    line-height: 100%;
    letter-spacing: 0%;
}

.departmentsContainer select::-ms-expand {
    display: none;
}

.departmentsContainer::after {
    content: "▾";
    font-size: 20px;
    position: absolute;
    left: 350px;
    top: 35px;
    transform: translateY(-50%);
    pointer-events: none;
    color: #333;
}
.modalButtons {
    float: right;
    display: flex;
    margin-top:65px;
}
.modalButtons button {
    padding:10px 20px;
    font-family: FiraGO;
    font-weight: 400;
    font-size: 18px;
    line-height: 100%;
    letter-spacing: 0%;
    border-radius: 5px;
}
.cancel {
    border:1px solid #8338EC;
    color:#343A40;
    margin-right:22px;
    background:none;
}
.submit {
    color:white;
    border:1px solid #8338EC;
    background-color:#8338EC;
}
.error {
    font-family: FiraGO;
    font-weight: 350;
    font-size: 10px;
    line-height: 150%;
    letter-spacing: 0%;
    color:#6C757D;

}
.errorRed {
    color:#FA4D4D;
}
.errorBorderRed {
    border-color:#FA4D4D !important;
}
.errorGreen {
    color:#08A508;
}